/solaris/vendor/
/solaris/node_modules/
/solaris/.env
/solaris/.env.*
!/solaris/.env.example
/solaris/database/*.sqlite*
/solaris/public/hot
/solaris/storage/*.key
/solaris/storage/logs/*
/solaris/storage/framework/cache/data/*
/solaris/storage/framework/sessions/*
/solaris/storage/framework/views/*
/solaris/bootstrap/cache/*.php
/solaris/.phpunit.result.cache
/tmp/
/.local/
/docs/sources/rendered/
*.log
